<!-- small box -->
<div class="small-box bg-red">
    <div class="inner">
        <h1 class="title">@ViewBag.Confirmed</h1>

        <p class="count" style="font-size:55px ">Confirmed</p>
    </div>
    <div class="icon">
        <i class="fa fa-ambulance"></i>
    </div>
   @* <a href="#patients" onclick="showStatus('Confirmed')" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
</div>
