<!-- small box -->
<div class="small-box bg-black">
    <div class="inner">
        <h1 class="title">@ViewBag.Death</h1>

        <p class="count">Death</p>
    </div>
    <div class="icon">
        <i class="fa fa-stethoscope"></i>
    </div>
   @* <a href="#patients" onclick="showStatus('Dead')" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>*@
</div>

