

    <!-- small box -->
<div class="small-box bg-blue">
    <div class="inner">
        <h1 class="title " style="text-align:center">@ViewBag.PUI</h1>

        <p class="count mobile" style="text-align:center" >Total Number of Persons Under Investigation (PUI)
            </p>
    </div>
    <div class="icon">
        <i class="fa fa-stethoscope"></i>
    </div>
    <a href="#patients" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
